@import "tailwindcss";

@theme inline {
  --color-background: #111111;
  --color-foreground: #FFFFFF;
  --color-primary: #9999FF;
  --color-sub-text: #A1A1AA;
  --color-card: #1A1A2E;
  --color-border: #2A2A3E;
  --font-sans: "Pretendard", sans-serif;
  --font-display: "Montserrat", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
